body{
    background-color: #3e3d51;
    color: #fff;
}

.mon-menu {
    text-align: right;
}

h1, p {
    text-align: center;
}

h3:hover {
    color: rgb(19, 211, 201);
}

.choix-couleurs {
    height: 20px;
    width: 20px;
}

.mon-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}
